<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
	
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
	
	<amqpConsumerAgent>
		<host>127.0.0.1</host>
		<port>5672</port>
		<virtualHost>/</virtualHost>
		<username>guest</username>
		<password>guest</password>
		<exchange>logback</exchange>
		<queue></queue>
		<routingKey>#</routingKey>
		<!--
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.JaninoEventEvaluator">
				<expression>
					final String applicationFilter = (String) System.getProperty ("amqp.consumer.agent.application_filter");
					if ((applicationFilter == null) || applicationFilter.isEmpty ())
						return (true);
					final String applicationValue = (mdc != null) ? (String) mdc.get("application") : null;
					if ((applicationValue == null) || applicationValue.isEmpty ())
						return (true);
					return (applicationFilter.equals (applicationValue));
				</expression>
			</evaluator>
			<onMismatch>DENY</onMismatch>
			<onMatch>NEUTRAL</onMatch>
		</filter>
		-->
	</amqpConsumerAgent>
	
	<appender name="sifter" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>application</key>
			<defaultValue>unknown</defaultValue>
		</discriminator>
		<sift>
			<appender name="sifter-${application}" class="ch.qos.logback.core.FileAppender">
				<file>/tmp/logback-${application}.log</file>
				<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
					<pattern>[%mdc{application}/%mdc{component}/%mdc{node}] [%mdc{sequence}/%relative/%d{YYYY-MM-DDTHH:mm:ss.SSS}] [%level] [%logger] %msg%n</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%mdc{application}/%mdc{component}/%mdc{node}] [%mdc{sequence}/%relative/%d{HH:mm:ss.SSS}] [%level] [%logger] %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="trace">
		<appender-ref ref="console" />
		<!-- <appender-ref ref="sifter" /> -->
	</root>
	
</configuration>
