<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
	
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
	
	<newRule pattern="/configuration/amqpConsumer" actionClass="eu.arkitech.logback.amqp.consumer.AmqpConsumerAppender$CreateAction" />
	
	<amqpConsumer name="amqp-consumer">
		<host>${arkitech.logging.amqp.host:-127.0.0.1}</host>
		<port>${arkitech.logging.amqp.port:-5672}</port>
		<virtualHost>${arkitech.logging.amqp.virtualhost:-/}</virtualHost>
		<username>${arkitech.logging.amqp.username:-guest}</username>
		<password>${arkitech.logging.amqp.password:-guest}</password>
		<exchange>${arkitech.logging.amqp.exchange:-logging}</exchange>
		<queue>${arkitech.logging.amqp.queue:-logging.conapp}</queue>
		<routingKey>${arkitech.logging.amqp.routingkey:-#}</routingKey>
	</amqpConsumer>
	
	<appender name="lucene" class="eu.arkitech.logging.datastore.lucene.LuceneAppender">
		<environmentPath>${arkitech.logging.bdb.environment.path:-/tmp/arkitech-logging-datastore}</environmentPath>
	</appender>
	
	<appender name="sifter" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>application</key>
			<defaultValue>unknown</defaultValue>
		</discriminator>
		<sift>
			<appender name="sifter-${application}" class="ch.qos.logback.core.FileAppender">
				<file>${arkitech.logging.sifter.file.prefix:-/tmp/arkitech-logging-logs-}${application}.log</file>
				<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
					<pattern>[%mdc{application}/%mdc{component}/%mdc{node}/%mdc{sequence}] [%d{yyyy-MM-DD/HH:mm:ss.SSS}/%relative] [%level] [%logger] %msg%n</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%-8mdc{application}:%-8mdc{component}:%-8mdc{node}/%6mdc{sequence}] [%d{yyyy-MM-DD/HH:mm:ss}] [%-5level] [%logger{48}] %msg%n%nopex</pattern>
		</encoder>
	</appender>
	
	<root level="trace">
		<appender-ref ref="console" />
		<appender-ref ref="sifter" />
		<appender-ref ref="lucene" />
	</root>
	
</configuration>
