<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
	
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
	
	<newRule pattern="/configuration/amqpPublisher" actionClass="eu.arkitech.logback.amqp.publisher.AmqpPublisherAppender$CreateAction" />
	
	<amqpPublisher name="amqp-publisher">
		<host>${arkitech.logging.amqp.host:-127.0.0.1}</host>
		<port>${arkitech.logging.amqp.port:-5672}</port>
		<virtualHost>${arkitech.logging.amqp.virtualhost:-/}</virtualHost>
		<username>${arkitech.logging.amqp.username:-guest}</username>
		<password>${arkitech.logging.amqp.password:-guest}</password>
		<exchangePattern>logging%nopex</exchangePattern>
		<routingKeyPattern>logging.event.%level.%replace(%mdc{application}){'.','_'}.%replace(%mdc{component}){'.','_'}.%replace(%mdc{node}){'.','_'}%nopex</routingKeyPattern>
	</amqpPublisher>
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%-8mdc{application}:%-8mdc{component}:%-8mdc{node}/%6mdc{sequence}] [%d{yyyy-MM-DD/HH:mm:ss}] [%-5level] [%logger{48}] %msg%n%nopex</pattern>
		</encoder>
	</appender>
	
	<root level="trace">
		<appender-ref ref="console" />
		<appender-ref ref="amqp-publisher" />
	</root>
	
</configuration>
