<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
	
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
	
	<newRule pattern="/configuration/amqpConsumerAgent" actionClass="eu.arkitech.logback.amqp.consumer.AmqpConsumerAgentMain$JoranAction" />
	<newRule pattern="/configuration/randomEventGenerator" actionClass="eu.arkitech.logback.common.RandomEventGenerator$JoranAction" />
	
	<amqpConsumerAgent>
		<host>127.0.0.1</host>
		<port>5672</port>
		<virtualHost>/</virtualHost>
		<username>guest</username>
		<password>guest</password>
		<exchange>logback</exchange>
		<queue></queue>
		<routingKey>#</routingKey>
	</amqpConsumerAgent>
	
	<randomEventGenerator>
		<count>1000</count>
		<interval>250</interval>
	</randomEventGenerator>
	
	<appender name="webapp" class="eu.arkitech.logback.webapp.EventLogAppender" />
	
	<root level="trace">
		<appender-ref ref="webapp" />
	</root>
	
</configuration>
