<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
	
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
	
	<newRule pattern="/configuration/amqpLoggingInjector" actionClass="eu.arkitech.logback.amqp.consumer.AmqpLoggingInjector$CreateAction" />
	
	<newRule pattern="/configuration/randomGenerator" actionClass="eu.arkitech.logback.common.RandomGenerator$CreateAction" />
	
	<amqpLoggingInjector>
		<host>127.0.0.1</host>
		<port>5672</port>
		<virtualHost>/</virtualHost>
		<username>guest</username>
		<password>guest</password>
		<exchange>logging</exchange>
		<queue></queue>
		<routingKey>#</routingKey>
	</amqpLoggingInjector>
	
	<randomGenerator>
		<count>1000</count>
		<interval>250</interval>
	</randomGenerator>
	
	<appender name="webapp" class="eu.arkitech.logback.webapp.EventLogAppender" />
	
	<root level="trace">
		<appender-ref ref="webapp" />
	</root>
	
</configuration>
