<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
	
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
	
	<newRule pattern="/configuration/amqpPublisher" actionClass="eu.arkitech.logback.amqp.publisher.AmqpPublisherAppender$CreateAction" />
	
	<amqpPublisher name="AmqpPublisher">
		<host>${arkitech.logging.amqp.host:-127.0.0.1}</host>
		<port>${arkitech.logging.amqp.port:-5672}</port>
		<virtualHost>${arkitech.logging.amqp.virtualhost:-/}</virtualHost>
		<username>${arkitech.logging.amqp.username:-guest}</username>
		<password>${arkitech.logging.amqp.password:-guest}</password>
		<exchangePattern>logging%nopex</exchangePattern>
		<routingKeyPattern>logging.event.%level.%replace(%mdc{application}){'.','_'}.%replace(%mdc{component}){'.','_'}.%replace(%mdc{node}){'.','_'}%nopex</routingKeyPattern>
	</amqpPublisher>
	
	<root level="trace">
		<appender-ref ref="AmqpPublisher" />
	</root>
	
</configuration>
