<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
	
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
	
	<newRule pattern="/configuration/amqpPublisher" actionClass="eu.arkitech.logback.amqp.publisher.AmqpPublisherAppender$CreateAction" />
	<newRule pattern="/configuration/randomGenerator" actionClass="eu.arkitech.logback.common.RandomGenerator$CreateAction" />
	
	<property file="${arkitech.logging.properties:-./src/main/config/logback-publisher-example.properties}" />
	
	<amqpPublisher name="AmqpPublisher">
		<host>${arkitech.logging.amqp.host:-127.0.0.1}</host>
		<port>${arkitech.logging.amqp.port:-5672}</port>
		<virtualHost>${arkitech.logging.amqp.virtualhost:-/}</virtualHost>
		<username>${arkitech.logging.amqp.username:-guest}</username>
		<password>${arkitech.logging.amqp.password:-guest}</password>
		<exchangePattern>logging%nopex</exchangePattern>
		<routingKeyPattern>logging.event.%level.%replace(%mdc{application}){'.','_'}.%replace(%mdc{component}){'.','_'}.%replace(%mdc{node}){'.','_'}%nopex</routingKeyPattern>
		<mutator class="eu.arkitech.logback.common.DefaultLoggingEventMutator">
			<application>${arkitech.logging.application:-}</application>
			<component>${arkitech.logging.component:-}</component>
			<node>${arkitech.logging.node:-}</node>
		</mutator>
	</amqpPublisher>
	
	<randomGenerator name="Generator">
		<loggerName>${arkitech.logging.generator.logger:-example-logger}</loggerName>
		<initialDelay>${arkitech.logging.generator.initialDelay:-1000}</initialDelay>
		<loopDelay>${arkitech.logging.generator.loopDelay:-1000}</loopDelay>
		<loopCount>${arkitech.logging.generator.loopCount:-360}</loopCount>
	</randomGenerator>
	
	<root level="trace">
		<appender-ref ref="AmqpPublisher" />
	</root>
	
</configuration>
