<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
	
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
	
	<appender name="amqp-appender" class="ch.qos.logback.amqp.AmqpAppender">
		<host>127.0.0.1</host>
		<port>5672</port>
		<virtualHost>/</virtualHost>
		<username>guest</username>
		<password>guest</password>
		<exchangePattern>logback</exchangePattern>
		<routingKeyPattern>%level.%replace(%mdc{application}){'.','_'}.%replace(%mdc{component}){'.','_'}.%replace(%mdc{node}){'.','_'}</routingKeyPattern>
		<mutator class="ch.qos.logback.amqp.tools.DefaultMutator">
			<application>unknown</application>
			<component>unknown</component>
			<!-- <node>node</node> -->
		</mutator>
	</appender>
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%mdc{application}/%mdc{component}/%mdc{node}] [%mdc{sequence}/%relative/%d{HH:mm:ss.SSS}] [%level] [%logger] %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="trace">
		<appender-ref ref="console" />
		<appender-ref ref="amqp-appender" />
	</root>
	
</configuration>
