<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	
	<appender name="amqp-consumer-agent" class="ch.qos.logback.amqp.AmqpConsumerAgent$FakeAppender">
		<host>127.0.0.1</host>
		<port>5672</port>
		<virtualHost>/</virtualHost>
		<username>guest</username>
		<password>guest</password>
		<exchange>logback</exchange>
		<queue>logback.agent</queue>
	</appender>
	
	<appender name="amqp-appender" class="ch.qos.logback.amqp.AmqpAppender">
		<host>127.0.0.1</host>
		<port>5672</port>
		<virtualHost>/</virtualHost>
		<username>guest</username>
		<password>guest</password>
		<exchangePattern>logback</exchangePattern>
		<routingKeyPattern>%level.%replace(%mdc{application}){'.','_'}.%replace(%mdc{component}){'.','_'}.%replace(%mdc{node}){'.','_'}</routingKeyPattern>
	</appender>
	
	<logger name="amqp-appender-test">
		<appender-ref ref="amqp-appender" />
	</logger>
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%8relative] [%d{HH:mm:ss.SSS}] [%-5level] [%logger{48}] %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="trace">
		<appender-ref ref="console" />
	</root>
	
</configuration>
