<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
	
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
	
	<newRule pattern="/configuration/amqpConsumer" actionClass="eu.arkitech.logback.amqp.consumer.AmqpConsumerAppender$CreateAction" />
	<newRule pattern="/configuration/bdbDatastore" actionClass="eu.arkitech.logging.datastore.bdb.BdbDatastoreAppender$CreateAction" />
	<newRule pattern="/configuration/luceneDatastore" actionClass="eu.arkitech.logging.datastore.lucene.LuceneDatastoreAppender$CreateAction" />
	
	<luceneDatastore name="LuceneDatastore">
		<environmentPath>${arkitech.logging.bdb.environment.path:-/tmp/arkitech-logging-datastore}</environmentPath>
		<readOnly>true</readOnly>
	</luceneDatastore>
	
</configuration>
